:root {
	--grid-color: orange;
	--mark-color: #ffd17c;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	padding-top: 2rem;
}

main h2 {
	font-size: 42px;
}

main button {
	position: relative;
	left: -23px;
	background-color: #b1b1b1;
	margin-top: 2rem;
	width: 128px;
	height: 32px;
	font-size: larger;
}

#ttt-board {
	display: flex;
	flex-wrap: wrap;
	color: var(--mark-color);

	margin-top: 5rem;
	width: 500px;
}

.tile{
	display: flex;
	justify-content: center;
	align-items: center;

	height: 150px;
	width: 150px;

	font-size: 120px;

	border-right: 2px solid;
	border-bottom: 2px solid;
	border-color: var(--grid-color);
}

.tile:nth-child(3n) {
	border-right: none;
}

.tile:nth-child(6) ~ .tile {
	border-bottom: none;
}

.active-board div:empty {
	cursor: pointer;
}

.mark-x:hover:empty::after {
	content: "X";
	opacity: 0.5;
	color: var(--mark-color);
}

.mark-o:hover:empty::after {
	content: "O";
	opacity: 0.5;
	color: var(--mark-color);
}

.win-tile {
	background-color: rgba(0, 255, 0, 0.336);
}