:root {
	--grid-color: orange;
}

main {
	background-color: #424242;
}

#ttt-board {
	display: flex;
	flex-wrap: wrap;
	margin-top: 2rem;
	width: 500px;
}

.tile{
	display: flex;
	justify-content: center;
	align-items: center;

	height: 150px;
	width: 150px;

	font-size: 120px;

	border-right: 2px solid;
	border-bottom: 2px solid;
	border-color: var(--grid-color);
}

.tile:nth-child(3n) {
	border-right: none;
}

.tile:nth-child(6) ~ .tile {
	border-bottom: none;
}

.active-board div:empty {
	cursor: pointer;
}

.mark-x:hover:empty::after {
	content: "X";
	opacity: 0.5;
	color: var(--grid-color);
}

.mark-o:hover:empty::after {
	content: "O";
	opacity: 0.5;
	color: var(--grid-color);
}

.win-tile {
	background-color: green;
}